html{
    scroll-behavior: smooth;
    overflow-x: hidden;
   
    
}

.nav{
    display: flex;
    justify-content: center;
    gap: 10%;
    list-style: none;
    margin-top: 2%;
    margin: 0;
    padding: 0;
    
}
.Name{
    font-size: 6rem;
    font-family: 'Inter', sans-serif;
}
.Role{
    
    font-size: 5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700 bold;
    color: rgb(33, 33, 33);
}
.main-text{
   
   margin-left: 5%;
   margin-top: 25%;
   float: left;
   
}

.Me{
    float: right;
    width: 35%;
    margin-top: -2.5rem;
}
.nav-item:hover{
    transform: scale(115%);
    transition: transform 0.4s;
    cursor: pointer;

}
.About-Section{
    
    margin-left: 5%;
    margin-top: 55%;
    
    
    
}
.About-title{
    font-family: 'Noto Sans', sans-serif;
    font-size: 3.5rem;

}
.About-text{
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    margin:0%;
}
.wraper-about{
    background-color: whitesmoke;
}
.Skills-section{
    margin-top: 10%;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-template-rows: 6fr 6fr;
    gap: 10px;
}
.item{
    text-align: center;
    height: 10rem;
    height: 10rem;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    padding-bottom: 5%;
    margin-top: 5%;
}
.item p{
    font-size: 1rem;
    color: rgb(45, 45, 45);
}
.card{
    position: absolute;
    background-color: black;
    height: 20%;
    width: 10%;
    left: 250px;    
    bottom: 25px;
    top: 1630px;
    opacity: 0;
    
}
.logo{
    width: 5%;
    padding-right: 1%;
}


@media(max-width:700px){
    .About-Section{
        margin-top: 165%;
    }
    .item{
        margin-top: 50%;
    }
    .logo{
        width: 10%;
    }
    .Role{
        font-size: 3rem;
    }
    .Name{
        font-size: 3.5rem;
    }
    .About-title{
        font-size: 2.5rem;
    }
    .Me{
        
        width: 55%;
        margin-right: 15%;
    }
}
footer p{
    font-size: 25px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 250;
    padding-left: 50px;
    padding-top: 3%;
   
    
}
footer{
    background-color: whitesmoke;
    height: 200px;
    width: 200%;
   
}
